[user]
	name = Jared Stiff
	email = SeaJaredCode@users.noreply.github.com
[core]
	autocrlf = input
	excludesfile = /Users/jared/.gitignore
    fscahce = true
	ignorecase = true
[include]
    path=~/.gitalias
[diff]
    tool = vimdiff
    guitool = meld
[difftool]
    prompt = false
[difftool "winmerge"]
    cmd = winmerge \"$LOCAL\" \"$REMOTE\"
[merge]
    tool = diffconflicts
    conflictstyle = diff3
[mergetool]
    keepBackup = false
[mergetool "diffconflicts"]
    cmd = diffconflicts vim \"BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
    trustExitCode=true
    keepBackup=false
[mergetool "vimdiff"]
    layout = "(LOCAL,BASE,REMOTE)/MERGED"
[mergetool "p4merge"]
    trustExitCode = false
    cmd = p4merge -nb \"Common:\" -nl \"Your:\" -nr \"Their:\" -nm \"Resolved:\" \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[pull]
    rebase = true
[push]
    default = simple
[rerere]
    enabled = true
[alias]
	where = branch -r --contains
	dad = !curl https://icanhazdadjoke.com/
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/jared/Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[init]
	templateDir = /Users/jared/.config/git_template
	defaultBranch = main
