!bin
*.exe
.bash_history
.cache
.config
.dbus-keyrings
.gem
.heroku
.lesshst
.npmrc
.spf13-vim-3
.ssh
.vim*
!.vim*.local
_vimrc
apps
temp
.ca-client/
.dircolors/
.chef/
.irb-history
.rvm/
.DS_Store
.Trash/
.bash_sessions/
.iterm2/
.iterm2*
.oracle*
.python_history
.scala_history
.solarized/
.subversion/
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Projects/
Public/
.aws/
.CFUserTextEncoding
.cups
.local/
.terraform.d/
.npm/
.chefdk/
.coursier/
.docker/
.emacs.d/
.idea-build/
.ideavimrc
.ivy2/
.kitchen/
.packer.d/
.sbt/
.sbt_config
.vagrant.d/
.vscode/
VirtualBox VMs/
.scalac/
.netrc
.helm/
.mono/
AmazonWorkDocsCompanion/
Creative Cloud Files/
.stack/
go/
WorkDocs/
.bash_completions/
.ammonite/
.cassandra/
.ideaLibSources/
.minikube/
.boto
.gsutil/
.VSCodeVim/
*.pyc
*~
.bigqueryrc
.azure/
.zoomus/
Projects
eBooks/
.Xauthority
.bazel/
.conda/
.ipython/
.jupyter/
.miniconda3/
.pex/
.pylint.d/
.keras/
.bazel_binaries/
.sdkman/
Google Drive File Stream
.clojure/
.lein/
.m2/
.scala_history_jline3
.unison/
Personal/
.bundle/
.cabal/
.ghcup/
.ghc/

.kube/
.nvm/
.pyenv/
.zsh_*
.node_repl_history
.volta/
javasharedresources/
stack/
*Google Drive
