!bin
*.exe
.bash_history  
.cache  
.config  
.dbus-keyrings  
.gem  
.heroku  
.lesshst
.npmrc
.spf13-vim-3  
.ssh  
.vim  
.vimbackup  
.viminfo
.vimrc  
.vimrc.before  
.vimrc.before.fork  
.vimrc.bundles  
.vimrc.bundles.fork  
.vimrc.fork  
.vimswap  
.vimundo  
.vimviews  
_vimrc  
apps  
temp  
.ca-client/
.dircolors/
